body {
padding: 0;
margin: 0;
font-family: 'PT Sans', Arial, sans-serif;
background: #f2f2f2;


}

.container {
	width: 	75em;
	margin: 0px auto;
	background: white;	
}

/*Стилизация меню*/

.menu-main {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	height: 3.5em;
	align-items:center;
	margin: 0;
	padding: 0 4.375em 0 4.375em;
}

.menu-main li {
	display: block;
}

.menu-main a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}

.menu-main li:nth-child(3) {
	margin-top: 18px;	
}

.menu-main a:hover {
	color: #85b1ce;
}

.menu-main a:active {
	color: #1e6a9c;
}

/*Стилизация хедер секции с картинкой*/

.background-info {
	background:
	url(../img/shape_top.png) no-repeat 50% 100%, 
	url(../img/background-noflex.jpg) no-repeat;	
	height: 31.875em;
}

.main-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 
}

.welcome {
	margin-top: 75px;
}

.background-name-sedona {
	margin-top: 55px;

}

.grandcanyon {
	margin-top: 60px;
}

/*Стилизация второй секции*/

.description-sedona {
	background-color: white;
	height: 13.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {	
	font-size: 21px;
	font-weight: bold;
 	text-transform: uppercase;
  	width: 440px;
 	margin: 0 auto;
 	text-align: center;
 	margin-bottom: 2em;
}

.description-causes {	
	font-size: 14px;
 	text-transform: uppercase;
 	margin: 0 auto;
 	color: #6e6e6e;;
}

/*Стилизация карточек с описью*/

/*Стилизация 1-вой и 3 карточки*/
.place {
	display: flex;
	flex-direction: row;
	
}

.info-blueback {
	background-color: #81b3d2;
	width: 400px;
	height: 256px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h3 {
	font-size: 21px;
 	text-transform: uppercase;
 	margin: 0 auto;
 	color: white;
 	width: 155px;
 	text-align: center;
}

.info-blueback p {
	font-size: 14px; 	
 	margin: 0 auto;
 	color: white;
  	text-align: center;
  	margin-top: 30px;
}

.info-blueback-descrip {
	width: 280px;
	text-transform: uppercase;
}

/*Стилизация описаний с иконками*/

.second-infodescrip {
	background-color: white;
	height: 20.625em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


.second-infodescrip h3 {
	color: black;
	margin-top: 30px;
}

.flex-section-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-section-icon p {
	font-size: 14px; 	
 	margin: 0 auto;
   	text-align: center;
  	width: 290px;
  	text-transform: uppercase;
  	color: #6e6e6e;
  	margin-top: 30px;
}

/*Стилизуем 4-тую карточку*/

.forth-infodescrip {
	background-color: #eee;
	height: 16em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.forth-infodescrip h3 {
	color: black;
	
}

.flex-section-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-section-text p {
	font-size: 14px; 	
 	margin: 0 auto;
   	text-align: center;
  	width: 263px;
  	text-transform: uppercase;
  	color: #6e6e6e;
  	margin-top: 30px;
}

/*Секция с поп-апом*/

.findhotel {
	background-color: white;
	height: 294px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.findhotel b {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	margin-top: 60px;
	padding: 0;

}

.findhotel p {
	font-size: 14px;
	text-align: center;
	line-height: 1.5;
	width: 435px;
	color: #6e6e6e;
	text-transform: uppercase;
	margin-top: 30px;

}

.button-popup {
	width: 568px;
	height: 86px;
	color: white;
	background-color: #766357;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	outline: none;
	margin-top: auto;
	padding: 0;

}


.button-popup:hover {
	background-color: #604e43;
}

.button-popup:active {
	background-color: #503e33;
	color: #928a85;
}

/*Надо вроде как сделать доступность, 
но не знаю, как сделать это красиво.
Ибо если делаю появление абриса, то он и
с мышки появляется, если цвет, то кнопка
как бы не отжимается, а не красиво поменяет цвет
когда щелкнишь по другой части страницы*/

.button-popup:focus {
	background-color: #503e33;
	
}

.map {
	background-image: url(../img/map.jpg);
	height: 475px;
}

.bot-section {
	background-color: rgba(255, 255, 255, .9);
	height: 120px;
}

/*Стилизуем футтер*/

.bot-section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.bot-section-hashtag {
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 21px;
}

.social-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.social {
	background-color: #81b3d2;
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 3.25;
	
}

.social:nth-child(2) {
	margin: 0 6px 0 6px;
	line-height: 3.5;
}
