body {
font-family: 'PT Sans', Arial, sans-serif;
background: #f2f2f2;
}


div, p, input, button, form, section {
	box-sizing: border-box;
	font-family: 'PT Sans', Arial, sans-serif;
}

.container {
	width: 1200px;
	margin: 0px auto;

}

.content-box-component {
	box-sizing: content-box;
}

::-webkit-input-placeholder {
	font-family: 'PT Sans', Arial, sans-serif;
	color:#949494;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;}
::-moz-placeholder {
	font-family: 'PT Sans', Arial, sans-serif;
	color:#949494;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;}/* Firefox 19+ */
:-moz-placeholder {
	font-family: 'PT Sans', Arial, sans-serif;
	color:#949494;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;}/* Firefox 18- */
:-ms-input-placeholder {
	font-family: 'PT Sans', Arial, sans-serif;
	color:#949494;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;}

.shadow {
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	width: 1200px;
	margin: 0px auto;
	z-index: 0;

}

/*Стилизация меню*/

.menu-main {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	height: 55px;
	align-items:center;
	margin: 0;
	padding: 0 70px 0 70px;
	flex-wrap: wrap;
}

.top-section {
	background-color: #fff;
}
.menu-main li {
	list-style: none;
}

.menu-main li:nth-child(2) {
	margin-right: 120px;
}

.menu-main li:nth-child(3) {
	margin-left: 120px;
}

.menu-main a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}


.menu-main a:hover {
	color: #85b1ce;
}

.menu-main a:active {
	color: rgba(0, 0, 0, 0.3);
}

.active a {
	color: #766357;
}

.go-to-index {
	display: block;
	position: absolute;
	left: 46.666%;
	top: 0;
}

.go-to-index:active {
	outline: none;
	box-shadow: 0;
}
/**/

/*Стилизация хедер секции с картинкой*/

.background-info {
	background:
	url(../img/shape_top.png) no-repeat 50% 100%, 
	url(../img/background-noflex.jpg) no-repeat;
	background-color: #aecce0;	
	height: 510px;
}

.main-section {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.welcome {
	margin-top: 75px;
}

.background-name-sedona {
	margin-top: 55px;

}

.grandcanyon {
	margin-top: 60px;
}

/*Стилизация второй секции*/

.description-sedona {
	background-color: white;
	height: 218px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {	
	font-size: 21px;
	font-weight: bold;
 	text-transform: uppercase;
  	width: 440px;
 	margin: 0 auto;
 	text-align: center;
 	margin-bottom: 40px;
 	line-height: 26px;
}

.description-causes {	
	font-size: 14px;
 	text-transform: uppercase;
 	margin: 0 auto;
 	color: #333333;;
 	line-height: 26px;
}

/*Стилизация карточек с описью*/

/*Стилизация 1-вой и 3 карточки*/

.place {
	display: flex;
	flex-direction: row;
	
}

.info-blueback {
	background-color: #81b3d2;
	width: 400px;
	height: 256px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h3 {
	font-size: 21px;
 	text-transform: uppercase;
 	margin: 0 auto;
 	color: white;
 	width: 155px;
 	text-align: center;
 	line-height: 21px; 	
}

.info-blueback p {
	font-size: 14px; 	
 	margin: 0 auto;
 	color: white;
  	text-align: center;
  	margin-top: 30px;
  	line-height: 21px;
}

.info-blueback-descrip {
	width: 280px;
	text-transform: uppercase;
}

/*Стилизация описаний с иконками*/

.second-infodescrip {
	background-color: white;
	height: 330px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


.second-infodescrip h3 {
	color: black;
	margin-top: 30px;
}

.flex-section-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-section-icon p {
	font-size: 14px; 	
 	margin: 0 auto;
   	text-align: center;
  	width: 290px;
  	text-transform: uppercase;
  	color: #333;
  	margin-top: 30px;
  	line-height: 21px;
}

/*Стилизуем 4-тую карточку*/

.forth-infodescrip {
	background-color: #eee;
	height: 256px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.forth-infodescrip h3 {
	color: black;
	
}

.flex-section-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-section-text p {
	font-size: 14px; 	
 	margin: 0 auto;
   	text-align: center;
  	width: 263px;
  	text-transform: uppercase;
  	color: #333;
  	margin-top: 30px;
}

/*Секция с поп-апом*/

.findhotel {
	background-color: white;
	height: 294px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.findhotel b {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	margin-top: 60px;
	padding: 0;
	margin-top: 60px;

}

.findhotel p {
	font-size: 14px;
	text-align: center;
	line-height: 1.5;	
	color: #333;
	text-transform: uppercase;
	margin: 0;
}


.button-popup {
	width: 568px;
	height: 86px;
	color: white;
	background-color: #766357;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;	
	padding: 0;


}

.button-popup:hover {
	background-color: #604e43;
}

.button-popup:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

/*Стилизация самого поп-апа*/
.pop-up {
	height: 395px;
	width: 568px;
	background-color: white;
	align-self: center;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/*Базовая стилизация инпутов в поп-апе*/
.pop-up-input {
	background-color: #f2f2f2;
	border: 0;
	height: 38px;
	padding: 0 40px 0 13px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.pop-up-input:hover {
	background-color: #ebebeb;
}

.pop-up-input:active,
 .pop-up-input:focus {
	background-color: transparent;
	border: 2px solid #e5e5e5;
	outline: none;
}

.input-width-pop {
	width: 346px;
}

.pop-up label {
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.postion-from-top {
	margin: 55px 0 0 0;
}

/*Стилизация первой строки Дата заезда*/


.pop-up-flex-date {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.button-form {
	border: 0;
	background-color: transparent;
	
}
	
.icon-calendar {
	position: absolute;
	right: 5px;
	top: 7px;
}

.margin-for-full-inputs {
	margin-right: 20px;

}

.position-button-input {
	position: relative;
}

.buttons-more-less {
	position: relative;

}

.input-width-pop-mini {
	width: 115px;
	padding: 0 35px 0 35px;
	text-align: center;
}

.icon-plus-minus-decor {
	color: #a9a9a9;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
}

.position-minus {
	position: absolute;
	left: 4px;
	top: 4px;
}

.position-plus {
	position: absolute;
	right: 4px;
	top: 4px;
}

.flex-people-child {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.flex-all-people-child {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 56px 0 53px;

}

.margin-pop-people {
	margin-right: 42px;
}

.margin-pop-child {
	margin-right: 28px;
}

.button-submit-form {
	color: #fff;
	background-color: #81b3d2;
	width: 458px;
	height: 58px;
	border: 0;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	margin-top: 56px;
	
}

.button-submit-form:hover {
	background-color: #669ec0;
}

.button-submit-form:active {
	color: #94b9d2;
	background-color: #5496bd;
}



.map {
	background-image: url(../img/map.jpg);
	height: 594px;
	display: flex;
	flex-direction: column;
}

/*Стилизуем футтер*/

.bot-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, .9);
	height: 120px;
	margin-top: auto;
	padding: 0 100px 0 100px;
	width: 1000px;

}

.bot-section-hashtag {
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 21px;
	cursor: pointer;
}

.social-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 65px;
}
.social {
	background-color: #81b3d2;
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 3.25;
	
}

.social:nth-child(2) {
	margin: 0 6px 0 6px;
	line-height: 3.5;
}

.social:hover {
	background-color: #669ec0;
}

.social:active {
	background-color: #5496bd;
	
}

.social:focus {
	background-color: #306b8f;
}

.position-logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.position-logo span{
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 7px;
	cursor: pointer;
}

.htmlacademy {	
	width: 115px;
	height: 41px;
	display: block;		
}

.svg-logo path {
	fill: #231f20;
}

.link-svg-logo:hover .svg-logo path {
	fill: #81b3d2;
}

.link-svg-logo:active .svg-logo path {
	fill: #bdbbbc;
}



/*Стилизация hotel*/
/*Флексим замыленную секцию с инпутами*/
.bluredbackground {
	background: url(../img/bluredbackground-noflex.jpg) no-repeat;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 219px;
	padding: 0 73px 0 73px;
}

.infostr-and-typehouse {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-left:-12px;
}

.infrastructure {
	width: 145px;
}

.typehouse {
	margin-left: 100px;
}

fieldset { 
	border: none;
	display:block;
	width: 180px;
	height: 180px;
	margin-top: 30px;

}

legend {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;

}


.some-input li {
	list-style: none;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
}

.some-input label {
	display: block;
	position: relative;	
	height: 23px;
	margin-top: 25px;
}

.some-input input[type="checkbox"] + .icon-check {
	background: url(../img/checkbox-off.svg) no-repeat;
	position: absolute;
	left: 0; 
	top: 0;
	width: 100%; 
	height: 100%;	
	cursor: pointer; 
	margin-top: -3px;
	margin-left: -41px;
}

.margin-table {
	margin-left: 10px;	
}

.some-input input[type="checkbox"]:checked + .icon-check{
 	background: url(../img/checkbox-on.svg) no-repeat;

}

.some-input input[type="checkbox"]{
	display:none;
}

/*Стилизация строки поиска отеля*/

.find-hotel {
	background-color: #fff;
}

.howmuchfind {
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	margin:0;
	padding: 0;

}

.sort-find {
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
}

.menu-sort li{
	list-style: none;

}

.menu-sort a {
	font-size: 12px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	border-bottom: 2px dotted #81b3d2; 
}

.menu-sort a:hover {
	color: #81b3d2;
	border-bottom: 2px dotted #81b3d2; 
}

.menu-sort a:active {
	color: #000000;
	border-bottom: none;
}

.menu-sort a:focus {
	color: #81b3d2;
	border-bottom: none; 
}

.flex-sort-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	margin-left: 50px;

}

.menu-sort {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	width: 245px;
	padding-left: 42px;

}
.header-find-flex {
	display: flex;
	justify-content: row;
	justify-content: space-between;
	align-items: center;
	height: 88px;
	padding: 0 72px 0 72px;
	border-bottom: 1px solid #e5e5e5;
}

.arrow-find {	
	cursor: pointer;	
	display: inline-block;
}

.arrow-find:first-child {
	margin-right: 5px;
}

.color-svg-up path{
	fill: #cacaca;
}

.arrow-find:hover .color-svg-up path {
	fill: #231f20;
}

.arrow-find:active,
.arrow-find:focus .color-svg-up path{
	fill: #81b3d2;
}

.flex-text-menusort {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

/*Стилизация первой карточки отеля*/

.hotels {
	height: 152px;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 72px 0 72px;

	
}

.hotels h2 {
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	margin: 0;
	cursor: pointer;
}

.hotels h2:hover {
	color: #81b3d2;
}

.hotels h2:active {
	color: rgba(0,0,0,0.3);
}

.hotels	p {
	font-size: 14px;
	text-transform: uppercase;
	color: #333333;
}

.hotels a {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	text-align: center;

}

/*Оформление кнопок и их поведение
кнопки-брони и подробней*/
.button-more {	
	padding: 7px 17px 7px 17px;
	background-color: #81b3d2;
	margin: 0 6px 0 0;
}

.button-book {
	padding: 7px 18px 7px 18px;
	background-color: #766357;
}

.button-more:hover {
	background-color: #669ec0;
}

.button-more:active {
	background-color: #669ec0;
	color: rgba(255,255,255,0.3);
}

.button-book:hover {
	background-color: #604e43;
}

.button-book:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3);
}

.rate-background {	
	padding: 5px 15px 7px 15px;
	background-color: #f2f2f2;
	margin: 0;
}

.star-rate-flex {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.star-rate-flex div {
	margin-bottom: 48px;
}

.descr-cost-flex {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;	
	padding: 0;
	height: 35px;
}



.descr-cost-margin {
	margin: 0 40px 0 0;
}

.flex-hotel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 30px;
}

.margin-cost {
	margin: 0 0 3px 0;
}

.flex-image-hotel {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}


/*Для ползунка*/

.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;

	height: 36px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 32px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	background-color: #ababab;
	
	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;

	background: #ffffff;
}