body {
padding: 0;
margin: 0;
font-family: 'PT Sans', Arial, sans-serif;
background: #f2f2f2;

}

.container {
	width: 	75em;
	margin: 0px auto;
	background: white;
	padding: 0;
}

.menu-main {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	height: 3.5em;
	align-items:center;
	margin: 0;
	padding: 0 70px 0 70px;
}

.menu-main li {
	display: block;
}

.menu-main a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}

.menu-main li:nth-child(3) {
	margin-top: 18px;	
}

.menu-main a:hover {
	color: #85b1ce;
}

.menu-main a:active {
	color: #1e6a9c;
}






